.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__box {
    width: 400px;

    min-height: 575px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
    padding: 20px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__submitbtn {
      margin-top: 13px;
    }

    &__Avatar {
      display: flex;
    }
    &__btndiv {
      display: flex;
      //   align-items: center;
      justify-content: center;
    }
  }
}

.link:link,
.link:visited {
  font-size: 1.6rem;
  white-space: nowrap;
  color: #343a40;
  text-decoration: none;
  text-transform: none;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  z-index: 10;
  transition: all ease-out 0.5s;
  display: flex;
  align-items: center;
}

.link__button {
  padding: 1rem;
}
