.user-info {
  color: #343a40;

  &__description {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
  &__title {
    padding-top: 0.5rem;
    padding-left: 0.8rem;
    font-size: 1.1rem;
  }
}

.info {
  display: flex;
}

.link {
  color: black;
  text-decoration: none;
}

.tool {
  background-color: #a3d8f4;
  padding-left: 1rem;
}

// .active {
//   background-color: red;
//   color: aqua;
// }
