.seller-info {
  //   margin-top: 2rem;
  //   padding: 2rem 3rem;
  //   padding-top: 1.5rem;
  //   display: flex;
  color: #343a40;

  &__description {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
  &__title {
    padding-top: 1rem;
    padding-left: 1rem;
  }
}

.info {
  display: flex;
  //   text-align: center;
  //   justify-content: center;
  align-content: center;
}
