.container {
  //   width: 100vw;
  //   height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__box {
    width: 600px;
    min-height: 575px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;
    padding: 20px;
  }

  &__form {
    // width: 100%;
    display: flex;
    flex-direction: column;
    &__btndiv {
      display: flex;
      //   align-items: center;
      justify-content: center;
    }
  }
}

.errorcontainer {
  padding: 0.8rem;
  background-color: #ffcbd1;
  text-align: center;
  border-radius: 1rem;
  &__message {
    color: #ff2c2c;
  }
}

.messagecontainer {
  padding: 0.8rem;
  background-color: #acdab7;
  text-align: center;
  border-radius: 1rem;
  &__success {
    color: #4c9a2a;
  }
}
