.Button {
  //default attributes
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &--green {
    // font-size: 1.2rem;
    // font-weight: bold;
    padding: 0 3rem;
    // background-color: rgb(102, 104, 171);
    color: #fff;
    transition: 0.3s;
  }
  &--white {
    // font-size: 1rem;
    // font-weight: bold;
    padding: 0rem 3rem;
    background-color: #fff;
    color: #62b6b7;
    border: 1px solid #62b6b7;
    transition: 0.3s;
  }
}
